<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:label="H13 Interphone Probe"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:permission="android.permission.DUMP"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
